@import "src/assets/style/variables";
.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 200px;
  }

  :global {
    .ant-card-head {
      border: none;
    }

    .ant-card-head-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $gap-xl;
      font: $font-xl-tablet;
      text-align: center;
      color: $gray10;
      white-space: wrap;
    }
  }


}