@import "src/assets/style/variables";

.container {
    :global{
        .ant-divider-horizontal{
            margin: $gap-xl 0 0;
        }
        .ant-btn-link{
            width: 100%;
            padding: $gap-3xs 0;
            margin: 0;
            span{
                margin: 0;
            }
        }
    }
    .description {
        width: 100%;
        padding: $gap-xl $gap-xl 0;
        border: 1px solid $gray4;
        background-color: $gray2;
        text-align: center;
        @media (max-width: $tablet-width) {
            padding: $gap-4xl $gap-xs $gap-m;
        }

        .buttons {
            display: flex;
            justify-content: space-around;
            padding: $gap-m;
            @media (max-width: $tablet-width) {
                flex-direction: column;
                padding: $gap-m 0;
            }
        }
    }
}
